name: Python CI

on:
  push:
    branches: [master]

jobs:  
  unit-testing-action:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install Dependencies
      run: | 
        pip install pytest
        pip install black
        pip install flake8
    - name: run test
      id: unit-test
      working-directory: exercise_2
      run: |
        pytest test_bad_code.py --junit-xml=test-results.xml
      continue-on-error: true
    - name: list directory_2
      continue-on-error: true
      if: steps.unit-test.outcome != 'success'
      run: echo "Something went wrong"
